.table-of-contents {
	background-image: linear-gradient(90deg,#94103e 0,#db004d);
	clip-path: polygon(100% 100%,100% 0,-400% 0);
	font-family: 'Roboto Condensed', sans-serif;
	font-size:1.2rem;
	
}
a {
    font-weight: 400;
    color: #ffffff;
	line-height:1.8rem
    text-decoration: none;
}

ul {
	font-weight: 400;
	color: white
}